@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Styling of the little icons */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}